*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;

}
.menu div p:hover{
    color: #ffc107;
}
.height{
    line-height: 45px;
}
.main{
    width: 100%;
    height: 100%;
    background:#222;
}
.icon i{
    font-size: 50px;
    cursor: pointer;
    transition: .2s;
}
.home div{
    color: rgb(175, 175, 175);
    cursor: pointer;
    transition: .2s;
}
.home div:hover{
    color: #fff;
    transition: .2s;
}
.icon i:hover{
    color: #fff !important; 
    transition: .3s;
}
.icon div{
    padding: 20px;
    transition: .2s;
}
.icon div:hover {
    background-color: #555 !important;
    color: #fff;  
    transition: .2s; 
}
.form-control{
    background: #333;
    border: none;
}
textarea{
    resize: none;
}
button{
    border: 1px solid #fff;
    color: #fff;
}